<ol class="list-group">
    <div class="list row">
        <div class="col-md-8">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Search by title"
              [(ngModel)]="title"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                (click)="searchTitle()">
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4>Task List</h4>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let todo of todoo; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveTask(todo, i)">
              {{ todo.title }}
            </li>
          </ul>
          <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTask()">
            Remove All
          </button>
        </div>
        <div class="col-md-6">
          <div *ngIf="currentTask">
            <h4>Task</h4>
            <div>
              <label><strong>Title:</strong></label> 
                {{ currentTask.title }}
            </div>
            <div>
                <label><strong>Description:</strong></label>
                {{ currentTask.description }}
              </div>
            <div>
              <label><strong>Start Date:</strong></label>
              {{ currentTask.StartDate }}
            </div>
            <div>
                <label><strong>Due Date:</strong></label>
                {{ currentTask.DueDate }}
              </div>
            <div>
              <label><strong>Status:</strong></label>
              {{ currentTask.Status ? "Published" : "Pending" }}
            </div>
      
            <a class="badge badge-warning" routerLink="/body/{{ currentTask.id }}">
              Edit
            </a>
          </div>
      
          <div *ngIf="!currentTask">
            <br />
            <p>Please click on a Task...</p>
          </div>
        </div>
      </div>
    
</ol>