<div class="row">
  <div class="col-md-6 col-sm-9">
    <div>
      <div class="submit-form">
        <div *ngIf="!submitted">
          <div class="form-group">
            <label for="title">Title</label>
            <input required 
              type="text"
              class="form-control"
              id="title"
              required
              [(ngModel)]="todo.title"
              name="title"
            />
          </div>
    
          <div class="form-group">
            <label for="description">Description</label>
            <input required 
              class="form-control"
              id="description"
              required
              [(ngModel)]="todo.description"
              name="description"
            />
          </div>

          <div class="form-group">
              <label for="StartDate">Date Start</label>
              <input required 
                type="text"
                class="form-control"
                id="StartDate"
                required
                [(ngModel)]="todo.StartDate"
                name="StartDate"
              />
            </div>
            <div class="form-group">
              <label for="DueDate">Due Date</label>
              <input required 
                type="text"
                class="form-control"
                id="DueDate"
                required
                [(ngModel)]="todo.DueDate"
                name="DueDate"
              />
            </div>
    
          <button (click)="saveTask()" class="btn btn-success">Submit</button>
        </div>
    
        <div *ngIf="submitted">
          <h4>Task was submitted successfully!</h4>
          <button class="btn btn-success" (click)="newTask()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-9">
    <app-detail></app-detail>
  </div>
</div>